.swiper-container {
  padding: 0 3em;
}

.slider-section {
  background-color: #eeeeee;
  padding: 1em 0;
  margin-bottom: 3.125em;
  overflow: hidden;
}

.slider-section__heading {
  text-align: center;
  margin-top: 0;
}

.slider-container {
  padding: 1em 2em;
  position: relative;
}

/**
 * Swiper styles & overrides
 */

.swiper-slide:first-child {
  margin-left: 0;
}

.swiper-slide:last-child {
  margin-right: 0;
}

[class^="swiper-button-"] {
  height: 100%;
  transform: translateY(-45%);
  width: 40px;
  background-color: #eee;
}

.swiper-button-prev {
  left: -0.25em;
}

.swiper-button-next {
  right: -0.25em;
}
